@import '../common.css';

body {
  overflow: hidden;
}

.wysiwyg .sc-split-pane {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;

  width: 80%;
  height: 500px;
  border: 1px dotted black;
}

.wysiwyg {
  margin-left: 10%;
}
